<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089661998843-lg62rn8hl4dggcqp8p106d0g8o3jp8sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089661998843-lg62rn8hl4dggcqp8p106d0g8o3jp8sr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089661998843-0q01pul8mit4q6ltvoacjbhm7lh6epvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmB36bHUcdaKpsoAe2Y-lazFn_yye95W0</string>
	<key>GCM_SENDER_ID</key>
	<string>1089661998843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foxDelivery</string>
	<key>PROJECT_ID</key>
	<string>fox-delivery-7e1b5</string>
	<key>STORAGE_BUCKET</key>
	<string>fox-delivery-7e1b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089661998843:ios:b06bbd3c5efd841293025e</string>
</dict>
</plist>